{% extends "layout.html" %}
 
{% block content %}
<div class="preloader"></div>
<! -- ******************** MASTHEAD SECTION ******************** -->	

		<main id="top" class="masthead" role="main">
			<div class="container">
				<div class="section-title">
	        		<h1><strong>[CrowdEncode]</strong></h1>
	        		<h1><small>A distributed platform for teaching machines to think.</small></h1>
	            </div>
	            
				<div class="row">
					<center><a href="#" id="learn_more"class="btn btn-success btn-lg gototop">LEARN MORE</a> </center>				
	                </div>
				
				<span id="result" class="alertMsg"></span> </div>
	                <p><br /><br /><br /><br /><br /></p>
	                
		</main><! --/main -->
	 

	    <! -- ******************** FEATURES  ******************** -->	
		<div class="container" id="explore">
			<div class="section-title">
				<h2>Start Encoding</h2>
				<h4>Help train a language classifier to process conceptual knowledge.</h4>
			</div>
			
			<section class="row features">
				<div class="col-sm-6 col-md-3">
					<div class="thumbnail"> 
						<img src="/static/images/service_01.png" alt="analytics-icon">
						<div class="caption">
							<h3>Launch Tagging Project</h3>
							<p>Create your own language processing project.</p>
						</div>
					</div><! --/thumbnail -->
				</div><! --/col-sm-6-->
	 
				<div class="col-sm-6 col-md-3">
					<div class="thumbnail"> 
						<img src="/static/images/service_02.png" alt="analytics-icon">
						<div class="caption">
							<h3>Browse Tagging Project</h3>
							<p>Check out other projects; participate or launch your own.</p>
						</div>
					</div><! --/thumbnail -->
				</div><! --/col-sm-6-->
	 
				<div class="col-sm-6 col-md-3">
					<div class="thumbnail"> 
						<img src="/static/images/service_03.png" alt="analytics-icon">
						<div class="caption">
							<h3>Access Data</h3>
							<p>Choose your sources, train your models, keep your models</p>
						</div>
					</div><! --/thumbnail -->
				</div><! --/col-sm-6-->
	 
				<div class="col-sm-6 col-md-3">
					<div class="thumbnail"> 
						<img src="/static/images/service_04.png" alt="analytics-icon">
						<div class="caption">
							<h3>Use CrowdEncode API</h3>
							<p>Coming Soon!</p>
						</div>
					</div><! --/thumbnail -->
				</div><! --/col-sm-6-->
			</section><! --/section -->
	 
		</div><! --/container -->
	 	
		   
		    <! -- ******************** BOTTOM ******************** -->	  
			<main class="footercta" role="main">
				<div class="container">
					<h1>Simple & <strong>Powerful Way</strong> <br>
						to train intelligent language classifiers.</h1>
	 
					<div class="row">
						<div class="col-md-12 breath text-center"> 
							<a href="join.html" class="btn btn-success btn-lg gototop">JOIN</a> 
						</div>
					</div>
				</div><! --/container -->
			</main><! --/main -->
{% endblock %}